body {
    padding: 0;
    margin: auto;
    min-width: 1200px;
    background-color: e8acbb;
    font-family:'Courier New', Courier, monospace;
    
}

#pic {
    transform: scale(0.7);
}

img {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 10px solid darkslategrey;
}

label {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 25px;
    max-width: 70vw;
    background-color: #fff7f7;
}

#me {
    padding: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: fit-content;
    background-color: #fff7f7;
    position: absolute;
    z-index: 2;
}

#bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #fff7f7;
    display: block;
}

